/*
CSS 
web o pagina: https://raquelcasher.github.io/CMV-publico/ejer1.html
autor: Raquel Castellano Hernández
fecha: 14-5-2021
RECORDAR: En caso de conflictos se aplica el estilo que se define último,
o sea al final de este archivo o en la misma pagina html

*/
body {
  	background-image:url("/assets/fondo.jpg");
  	color:white;
  	font-family: "Lato", Helvetica, sans-serif;
}
.dia {
	color: var(--fuenteDia);
}
.noche {
	color: var(--fuenteNoche);
	backdrop-filter: contrast(70%);
}

:root {
	--fuenteDia : white;
	--fuenteNoche: black;
	--light: #dddddd;
	--dark: #000;
}
