* {
	  /* estilos por defecto para TODOS los elementos de la página; */
	  /* estilo:valor; */
	  font-family: 'Nunito', sans-serif;
}

body {
	/* estilos para el cuerpo principal de la página; */
	background: rgba(0, 0, 128, 0.5); /* Azul al 10% */
}

#contenedor {
  /* estilos para el único elemento identificado con este #esteElemento; */
	max-height:100px;
	max-width:200px;
	padding: 10px;
	overflow-x: scroll;
	overflow-y:hidden;
}

#contenido {
  /* estilos para el único elemento identificado con este #esteElemento; */
	width:600px;
	
}

